/* ---------- SPAN BOX ---------- */
.span-box {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 220px;
    height: fit-content;
    padding: 1rem 1rem;
    background-color: var(--cor-background-clara);
    text-align: center;
    border-radius: 5px;
    border: #414141 solid 2px;
    box-shadow: var(--bs);
}

.span-box > h2{
    padding: 0;
    margin: 0 0 1rem;
    font-size: 18px;
}

/* span box edicao */

#box-edicao {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    min-width: 300px;
    max-width: 600px;
    width: 50% ;
    background: rgba(100, 100, 100, .5);
    
    

}

.box-edicao__wrappers {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    gap: 1em;
    margin-bottom: 1em; 
}

.box-edicao__wrappers > input {
    border-radius: 5px;
}

/* ---------- BOTÕES ---------- */
/* todo <a> dentro de qualquer botão */
button > a {
    text-decoration: none;
}


button > a:visited,
button > a:link {
   color: inherit;
}

/* botão call to action */
.cta-button {
    display: block;
    font-size: 1.5em;
    color: var(--cor-clara);
    background: var(--cor-background-escura);
    width: 100%;
    height: 2.5em;
    border-radius: 6px;
    margin: 0 auto;
}

.next-cancel-button-wrapper {
    display: flex;
    justify-content: space-between;
    Width: fit-content; /*adicionado*/
    margin: 0 auto; /*adicionado*/
}

/* botão positivo */
.next-button {
    font-size: 16px;
    min-width: 90px;
    padding: .7rem;
    text-align: center;
    border-radius: 7px;
    box-shadow: var(--bs);
    background-color: var(--cor-principal);
    color: var(--cor-escura);
    margin-left: 0.5em; /* margin adicionada*/
}

.next-button:hover {
    font-weight: 750;
}

/* botão negativo */
.cancel-button {
    font-size: 16px;
    width: 90px;
    padding: .7rem;
    text-align: center;
    border-radius: 7px;
    box-shadow: var(--bs);
    margin-right: 0.5;
}

/* botão adicionar */
.add-button-wrapper {
    margin: .5rem;
}

.add-button {
    border: 0;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
}

.add-button > a > i {
    font-size: 22px;
    margin-right: 0.3rem;
    
}

/*botão upload de arquivos*/
.upload-button-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.button-upload{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    transition: 250ms cubic-bezier(.5, 0, .5, 1);

}

.span_box__upload { 
    width: 250px;
    height: fit-content;
    padding-left: 0%; 
    background-color: var(--cor-background-clara);
    text-align: center;
    border-radius: 5px;
    border: #414141 solid 2px;
    box-shadow: var(--bs);
    
}


.button-upload:hover {
    transform: scale(1.1);
}

.button-upload i {
    font-size: 50px;
    margin-bottom: 0.1em;
}

.button-upload span {
    width: 100%;
    text-align: center;
    font-weight: 500px;
    padding: 3px;
    background-color: var(--cor-principal);
    border-radius: 7px;
}

/* ---------- FORMS ---------- */

/* box de senha do span box */
.input-passw-box {
    margin-bottom: 1rem;
    height: 2em;
    border-radius: 5px;
}


/* box generica */
.generic-form label {
    font-size: 1em;

}

.input-generic-box {
    height: 1.9em;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0.5em;
}

/* box de pesquisa */
.input-search-box {
    height: 1.8em;
    width: 100%;
    border-radius: 7px;
    margin-bottom: .7rem;
}

/* checkbox */
.form-check{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkbox-wrapper {
    margin-bottom: .6em;
 }

.form-check label,
.form-radio label {    
    font-size: 1.2em;
    cursor: pointer;
    margin-left: .3em;
}

 input[type="checkbox"],
 input[type="radio"] {
    width: 17px;
    height: 17px;
    cursor: pointer;
 }

/* radio button  */
 .form-radio {
     display: flex;
     width: 100%;
 }

 .radio-wrapper + .radio-wrapper {
    margin-left: 1.5em;
 }

 /* ----------CARDS ---------- */
 .cards {
     display: grid;
     gap: 0.5em;
     padding-top: 1em;
     padding-bottom: 1em;
 }

.card {
    display: flex;
    width: 100%;
    height: 95px;
    background-color: var(--cor-clara);
    border: 2px solid var(--cor-escura);
    border-radius: 13px;
}

.img-card-wrapper {
    width: 160px;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
    position: relative;
}

.img-card-wrapper > i {
    position: absolute;
    top: 33%;
    left: 40%;
    font-size: 40px;
    color: var(--cor-background-clara);
    opacity: 0.6;
    transition: 200ms;  
}

.img-card-wrapper > i:hover {
    transform: scale(1.1);

}

.card img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.card .conteudo {
    height: 100%;
    width:100%;
    padding: .5em;
    font-size: 17px;
}

.card .conteudo p {
    margin: 0 0 0.4em;
    padding: 0;
}
.card__titulo{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    margin: 0 0 0.5em;
}

.card__descricao {
    text-align: center;
}

.edit-del-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em 0.5em;
    font-size: 18px;
}

.edit-button,
.del-button {
    all: unset;
    cursor: pointer;
}

/* modal JS fundo do span-box */
#fundo {
    opacity: 0.7;
    background-color: var(--cor-background-escura);
    background: var(--cor-escura);
    filter: blur(0.2em);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
    left: 0;
    display: block;
    
  }
  
  #modal {
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    position: absolute;
    background-color: var(--cor-background-clara);
    border-radius: 5px;
    z-index: 99;
    display: none;
    float:inline-end;
    text-align: center;
    padding-top: 2%;
  }

  .texto-aviso{
      text-align: center;
      padding-top: 15%;
      font-size: 18px;
      font-weight: bold;
  }

  /* ajuste caixa de aviso deletar card */
  .p-deletar-card{
    text-align: center;
    padding-top: 0%;
    padding-bottom: 20%;
    font-size: 15px;
    font-weight: bold;
  }
  
