
/* Váriaveis */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    height: 100%;
    scroll-behavior: smooth;
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #EB8FA9;
    --clr-bg-dark: rgb(53, 53, 53);
    --clr-bg-light: #f5f5f5;

}

body {
    margin: 0;
    background: var(--clr-bg-light);
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* --------- TIPOGRAFIA --------- */
h1{
    text-align: center;
}

/* ---------- PÁG DE TESTE ---------- */

.testnav {
    width: 100%;
    height: 100%;
}

.page-teste {
    min-width: 375px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px red solid;
}

.page-wrapper {
    position: relative;
    width: fit-content;
    margin: auto auto;
    background-color: var(--clr-bg-light);
    padding: 2rem;
    border: 5px solid chartreuse;
}

/* ---------- SPAN BOX ---------- */
.span-box {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 220px;
    height: fit-content;
    padding: 1rem 1rem;
    background-color: var(--clr-bg-light);
    text-align: center;
    border-radius: 5px;
    border: #414141 solid 2px;
    box-shadow: var(--bs);
}

.span-box > h2{
    padding: 0;
    margin: 0 0 1rem;
    font-size: 18px;
}

/* ---------- BOTÕES ---------- */

/* botão call to action */
.cta-button {
    display: block;
    font-size: 1.5em;
    color: var(--clr-light);
    background: var(--clr-bg-dark);
    width: 100%;
    height: 2.5em;
    border-radius: 6px;
    margin: 0 auto;
}

.next-cancel-button-wrapper {
    display: flex;
    justify-content: space-between;
    Width: fit-content; /*adicionado*/
    margin: 0 auto; /*adicionado*/
}

/* botão positivo */
.next-button {
    font-size: 16px;
    min-width: 90px;
    padding: .7rem;
    text-align: center;
    border-radius: 7px;
    box-shadow: var(--bs);
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    Margin-left: 1em; /* margin adicionada*/
}

.next-button:hover {
    font-weight: 750;
}

/* botão negativo */
.cancel-button {
    font-size: 16px;
    width: 90px;
    padding: .7rem;
    text-align: center;
    border-radius: 7px;
    box-shadow: var(--bs);
}

/* botão adicionar */
.add-button-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0.5em;

}

.add-button-wrapper > i {
    margin-right: 0.5em;
    font-size: 22px;
    
}

.add-button {
    border-style: none;
    font-size: 1.5em;
    margin-bottom:1rem;
}

.add-button > a {
    text-decoration: none;
}

.add-button > a:visited {
   color: var(--clr-dark);
}


/* ---------- FORMS ---------- */

.input-passw-box {
    margin-bottom: 1rem;
    height: 2em;
    border-radius: 5px;
}


.generic-form label {
    font-size: 1em;

}

.input-generic-box {
    height: 1.7em;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0.5em;
}

.input-search-box {
    height: 1.8em;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 1.5rem;
}

.logo-wrapper {
    display: relative;
    width: min-content;
}

.linha {
    width: 45%;
    height: 1.5px;
    margin: 1em auto 0;
    background: var(--clr-bg-dark);
    opacity: .4;
}


header {padding: .7em;
}

.container {
    padding: .7em;
}
/* ----------- NAVBAR ------------ */

.nav {
    position: fixed;
    /* background-color: var(--clr-bg-dark); */
    background: hsl(0, 0%, 100 / .1);
    background: rgb(0, 0, 0, .7);
    color: var(--clr-light);
    backdrop-filter: blur(.4em);
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 6em 0;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
}

.nav__item:hover {
    font-weight: 600;
    color: violet;
}

.nav-toggle{
    overflow: hidden;
    padding: .7em;
    border-radius: 4px;
    background-color: transparent;
    /* border: 0; */
    cursor: pointer;
    position: absolute;
    right: .7em;
    top: 2.8em;
    z-index: 150;
}

.nav-open .background-page-toda {
    position: fixed;
    inset: 0;
    background:rgb(53, 53, 53, 0.6);
    backdrop-filter: blur(.2em);
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.hamburguer {
    display: block;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
    background-color: var(--clr-accent);
    width: 2.2em;
    height: 4px;
    border-radius: 1px;
    transition: transform 250ms ease-in-out;
}

.hamburguer::after,
.hamburguer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburguer::after {bottom: 8px;}
.hamburguer::before {top: 8px;}

/* Rodapé */
footer {
    font-size: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--clr-light);
    background: var(--clr-bg-dark);
    height: 2.5em;
    margin-top: auto ;

}

.marca-wrapper {
    width: fit-content;
    margin: 0 auto;
}

.marca-wrapper p {
    margin: 0;
}

.cards {
}

.card {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--clr-dark);
    border-radius: 10px;
    margin-bottom: .5em;
}

.img-card-wrapper {
    width: 110px;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}   

.card img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.card .conteudo {
    height: 100%;
    width:100%;
    padding: .5em;
    font-size: 17px;
}

.card .conteudo p {
    margin: 0 0 0.4em;
    padding: 0;
}

.edit-del-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em 0.5em;
    font-size: 18px;
}

.edit-button,
.del-button {
    all: unset;
}
#fundo {
    opacity: 0.7;
    background-color: var(--clr-bg-dark);
    background: var(--clr-dark);
    filter: blur(0.2em);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
    left: 0;
    display: none;
    
  }
  
  #modal {
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    position: absolute;
    background-color: var(--clr-bg-light);
    border-radius: 5px;
    z-index: 99;
    display: none;
    float:inline-end;
    text-align: center;
  }
  .texto-aviso{
      text-align: center;
      padding-top: 25%;
      font-size: 18px;
      font-weight: bold;
  }