/*--------- Horizontal scroll --------*/
.content{
    margin-top: 2em;
}

.horizontal-scroll{
    width: 100%;
    height: 240px;
    background-color: #fff;
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 98;
}

.horizontal-scroll a{
    color: var(--cor-escura);
    text-decoration: none;
}

/*featured products container*/
.product-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: row;
    left: 1;
    margin-top: 15px;
}

.featured-product{
    max-width: 120px;
    max-height: 200px;
    margin: 0 0.5em;
    display: block;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: thin solid silver;
}

.featured-product img{
    display: block;
    width: 100px;   
    height: 140px;
    border-radius: 5%;
}

.featured-product figcaption{
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5ch;
}

/*bonus-container*/
.bonus-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: row;
    left: 1;
    margin-top: 15px;
}

.bonus{
    width: 210px;
    max-height: 200px;
    margin: 0 0.5em;
    display: block;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: thin solid silver;
    overflow: hidden;
    background-color: var(--cor-background-clara);
}

/*salesman*/
.salesman-ranking-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: row;
    margin-top: 15px;
}

.salesman{
    width: 200px;
    height: 200px;
    margin: 0.5em 0.5em;
    display: block;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: thin solid silver;
}

.salesman img{
    display: block;
    max-width: 180px;   
    max-height: 180px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

.salesman figcaption{
    justify-content: center;
    text-align: center;
    word-wrap: normal;
    text-overflow: ellipsis;
    width: 160px;
}
