:root {
    --font-family-primary: 'Source Sans Pro', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;

    --cor-clara: #fff;
    --cor-escura: #303030;
    --cor-principal: #EB8FA9;
    --cor-background-escura: rgb(53, 53, 53);
    --cor-background-clara: #f5f5f5;
    --box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                  0.125em 0.125em 0.25em rgba(0,0,0,.15);;
    --cor-principal-fraca: #f7d0db;
}

